@keyframes leftSlide {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes appearing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}