.full-width {
    width: 100%;
}

.input, .textarea {
    width: 100%;
    height: 40px;
    margin: 5px 0 15px;
    padding: 5px;

    border: 1px solid rgb(100, 100, 100);

    background-color: transparent;

    transition: all 300ms ease;
}

.textarea {
    min-height: 100px;   
}

.button, .link-button {
    min-width: 80px;
    min-height: 40px;
    padding: 5px 10px;

    border: 1px solid rgb(100, 100, 100);

    background-color: transparent;

    cursor: pointer;

    transition: all 300ms ease;
}

.link-button a {
    width: 100%;
    height: 100%;

    text-decoration: none;
}
