.forms {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 64px);
}

.form-container {
    width: 400px;
    margin:  10px auto;

    overflow: hidden;
    
    border-radius: 5px;

    background-color: rgb(45, 45, 50);

    animation: leftSlide 500ms 1, appearing 500ms 1;
}

.login-signup-switch {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 50px;
}

.login-signup-switch label {
    display: inline-block;

    width: 50%;
    height: 100%;
    
    line-height: 50px;
    text-align: center;

    background-color: rgb(50, 55, 65);

    transition: all 300ms ease;
}

input[name="authentication-type"]:checked + label {
    background-color: transparent;
}

.login-form, .signup-form {
    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;
}

.login-form {
    display: block;
}

.login-form label, .signup-form label {
    color: rgb(100, 100, 100);
}

.login-form button, .signup-form button {
    height: 40px;
}

.login-form button:hover, .signup-form button:hover {
    background-color: rgb(70, 70, 80);
}

.login-form button:active, .signup-form button:active {
    background-color: rgb(100, 100, 100);
}

.signup-form {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.form-incomplete-field-warning {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    
    background-color: rgb(80, 0, 0);

    border: 1px solid rgb(255, 80, 80);
}

.form-incomplete-field-warning p {
    color: rgb(255, 80, 80);
}
