.home-header {
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 64px;

    background-color: rgb(32, 32, 32);
}

.home-header .logo {
    display: flex;
    align-items: center;
    
    width: max-content;
    height: 100%;
    margin-left: 10px;

    cursor: default;
}

.home-header .logo .logo-image, .avatar {
    width: calc(64px * 0.8);
    height: 80%;
    margin-right: 10px;
}

.home-header .logo h1 {
    color: gray;
    font-size: 2rem;
}

.logo-image img, .avatar img {
    width: 100%;
    height: 100%;
}

.avatar {
    position: relative;
    
    border-radius: 50%;
    
    background-color: rgb(42, 42, 42);    
}

.avatar .user-menu {
    position: absolute;
    top: calc(100% + 64px * 0.1 + 10px);
    right: calc(-300px - 10px);

    width: 300px;

    border-radius: 15px;
    border-top-right-radius: 0;

    background-color: rgb(32, 32, 32);

    transition: all 300ms ease;
}

.avatar .user-menu * {
    color: lightgray;
}

#avatar-user-image-checker:checked ~ .user-menu {
    right: 0px;
}

.avatar-user-image {
    cursor: pointer;
}

.user-info {
    display: flex;

    width: 100%;
    height: 70px;
    padding: 5px;

    border-bottom: 2px solid gray;
}

.user-info .user-image,
.user-info .user-description {
    height: 100%;
}

.user-info .user-image {
    width: 20%;
    margin-right: 5px;

    border: 2px solid gray;
    border-radius: 50%;
}

.user-info .user-image img {
    width: 100%;
    height: 100%;
}

.user-info .user-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    width: 80%;
}

.user-menu-options {
    display: block;

    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.user-menu-options * {
    cursor: pointer;
}
