.modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    opacity: 0;

    pointer-events: none;
    transition: opacity 400ms ease-in;
}

.modal:target {
    opacity: 1;

    pointer-events: auto;
}

.modal-content {
    width: 60vw;
    height: 60vh;
    padding: 30px 60px 40px;

    border-radius: 20px;

    background-color: rgb(45, 45, 50);
}

.edit-task-options {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 40px;
}

.deleting-confirmation-message {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    pointer-events: none;

    transition: opacity 100ms ease;
}

.deleting-confirmation-message div:first-child {
    height: 120px;
    padding: 20px;

    border-radius: 20px;

    background-color: rgb(45, 45, 50);
}

.deleting-confirmation-message div div {
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
}

.deleting-confirmation-message button {
    margin: 5px;
}
