* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    outline: none;

    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(24, 24, 24);

    overflow-x: hidden;
}

ul {
    list-style: none;
}
