.create-task-tab {
    position: absolute;
    top: 0;

    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    animation: appearing 400ms 1;
}

.create-task-tab-editor {
    width: 60vw;
    height: 60vh;
    padding: 30px 60px 40px;

    border-radius: 20px;

    background-color: rgb(45, 45, 50);
}

.create-task-options {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 40px;
}

.create-task-options button:hover {
    background-color: rgb(50, 55, 65);
}
