.tasks {
    display: none;

    width: 100%;
    padding: 76px 0 12px;

    animation: appearing 1s 1;

    transition: all 300ms ease;
}

.task-tools, .table-container {
    width: 90%;
    margin: auto;

    background-color: rgb(45, 45, 50);
}

.task-tools {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.task-tools-list {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    padding: 20px 25px 0;
}

.task-tools-list li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: rgb(50, 55, 65);

    cursor: pointer;

    transition: all 300ms ease;
}

.task-tools-list li:hover {
    background-color: rgb(30, 35, 45);
}

.task-tools-list li:active {
    background-color: rgb(50, 55, 65);
}

.table-container {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tasks table {
    width: 100%;
    padding: 20px;

    border: none;
}

.tasks table th, .tasks table td {
    padding: 10px;

    text-align: center;
    
    background-color: rgb(50, 55, 65);

}
